In [1]:
import pandas as pd 
import matplotlib as plt

In [10]:
att_df = pd.read_csv('data.csv', header=[-1])
att_df.head()

         0        1        2        3        4        5
0  8:56 AM  9:00 AM  7:45 AM  7:45 AM  8:05 AM  7:45 AM
1  8:40 AM  8:40 AM  8:30 AM  8:30 AM  8:45 AM  8:20 AM
2  8:45 AM  8:20 AM  8:05 AM  8:00 AM  8:05 AM  8:00 AM
3  8:40 AM  8:40 AM  8:40 AM  8:25 AM  8:40 AM  8:40 AM
4  8:55 AM  8:50 AM  8:55 AM  8:10 AM  8:15 AM  8:05 AM

In [67]:
att_df.shape

(23, 6)

In [12]:
import time 
#not sure i'll need this, but fun to import it anyway

In [33]:
import numpy as np

In [69]:
times = np.array(att_df)
times

array([['8:56 AM', '9:00 AM', '7:45 AM', '7:45 AM', '8:05 AM', '7:45 AM'],
       ['8:40 AM', '8:40 AM', '8:30 AM', '8:30 AM', '8:45 AM', '8:20 AM'],
       ['8:45 AM', '8:20 AM', '8:05 AM', '8:00 AM', '8:05 AM', '8:00 AM'],
       ['8:40 AM', '8:40 AM', '8:40 AM', '8:25 AM', '8:40 AM', '8:40 AM'],
       ['8:55 AM', '8:50 AM', '8:55 AM', '8:10 AM', '8:15 AM', '8:05 AM'],
       ['8:45 AM', '8:45 AM', '8:45 AM', '8:40 AM', '8:30 AM', '8:40 AM'],
       ['8:45 AM', '8:54 AM', '8:38 AM', '8:40 AM', '8:32 AM', '8:41 AM'],
       ['absent', '11:00 AM', '8:35 AM', '8:15 AM', '8:10 AM', '8:10 AM'],
       ['8:39 AM', '8:13 AM', '8:15 AM', '8:12 AM', '8:10 AM', '8:00 AM'],
       ['9:00 AM', '8:50 AM', '8:50 AM', '8:50 AM', '8:40 AM', '8:45 AM'],
       ['8:40 AM', '8:50 AM', '8:40 AM', '8:34 AM', '8:20 AM', '8:30 AM'],
       ['8:15 AM', '8:30 AM', '8:13 AM', '8:30 AM', '7:45 AM', '8:40 AM'],
       ['8:45 AM', '8:55 AM', '8:45 AM', '8:45 AM', '8:00 AM', '8:45 AM'],
       ['8:45 AM', '8:45 AM', '8:05 AM', '8:00 AM', '8:00 AM', '8:00 AM'],
       ['8:45 AM', '8:45 AM', '9:00 AM', '9:00 AM', '8:50 AM', '9:00 AM'],
       ['8:15 AM', '8:40 AM', '8:25 AM', '8:30 AM', '7:30 AM', '8:25 AM'],
       ['8:45 AM', '8:40 AM', '8:45 AM', '8:55 AM', '8:45 AM', '8:45 AM'],
       ['8:45 AM', '9:00 AM', '9:00 AM', '9:00 AM', '9:00 AM', '9:00 AM'],
       ['8:50 AM', '8:50 AM', '8:57 AM', '8:42 AM', '8:35 AM', '8:30 AM'],
       ['8:15 AM', '9:00 AM', '8:35 AM', '9:00 AM', '8:58 AM', '8:20 AM'],
       ['8:45 AM', '8:35 AM', '8:27 AM', '8:46 AM', '8:31 AM', '8:37 AM'],
       ['8:45 AM', '8:45 AM', '9:00 AM', '8:57 AM', '8:57 AM', '8:50 AM'],
       ['8:45 AM', '8:50 AM', '8:30 AM', '8:45 AM', '8:50 AM', '8:10 AM']],
      dtype=object)

In [72]:
times = times.reshape(23*6,1)
times

array([['8:56 AM'],
       ['9:00 AM'],
       ['7:45 AM'],
       ['7:45 AM'],
       ['8:05 AM'],
       ['7:45 AM'],
       ['8:40 AM'],
       ['8:40 AM'],
       ['8:30 AM'],
       ['8:30 AM'],
       ['8:45 AM'],
       ['8:20 AM'],
       ['8:45 AM'],
       ['8:20 AM'],
       ['8:05 AM'],
       ['8:00 AM'],
       ['8:05 AM'],
       ['8:00 AM'],
       ['8:40 AM'],
       ['8:40 AM'],
       ['8:40 AM'],
       ['8:25 AM'],
       ['8:40 AM'],
       ['8:40 AM'],
       ['8:55 AM'],
       ['8:50 AM'],
       ['8:55 AM'],
       ['8:10 AM'],
       ['8:15 AM'],
       ['8:05 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:40 AM'],
       ['8:30 AM'],
       ['8:40 AM'],
       ['8:45 AM'],
       ['8:54 AM'],
       ['8:38 AM'],
       ['8:40 AM'],
       ['8:32 AM'],
       ['8:41 AM'],
       ['absent'],
       ['11:00 AM'],
       ['8:35 AM'],
       ['8:15 AM'],
       ['8:10 AM'],
       ['8:10 AM'],
       ['8:39 AM'],
       ['8:13 AM'],
       ['8:15 AM'],
       ['8:12 AM'],
       ['8:10 AM'],
       ['8:00 AM'],
       ['9:00 AM'],
       ['8:50 AM'],
       ['8:50 AM'],
       ['8:50 AM'],
       ['8:40 AM'],
       ['8:45 AM'],
       ['8:40 AM'],
       ['8:50 AM'],
       ['8:40 AM'],
       ['8:34 AM'],
       ['8:20 AM'],
       ['8:30 AM'],
       ['8:15 AM'],
       ['8:30 AM'],
       ['8:13 AM'],
       ['8:30 AM'],
       ['7:45 AM'],
       ['8:40 AM'],
       ['8:45 AM'],
       ['8:55 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:00 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:05 AM'],
       ['8:00 AM'],
       ['8:00 AM'],
       ['8:00 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['8:50 AM'],
       ['9:00 AM'],
       ['8:15 AM'],
       ['8:40 AM'],
       ['8:25 AM'],
       ['8:30 AM'],
       ['7:30 AM'],
       ['8:25 AM'],
       ['8:45 AM'],
       ['8:40 AM'],
       ['8:45 AM'],
       ['8:55 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['8:50 AM'],
       ['8:50 AM'],
       ['8:57 AM'],
       ['8:42 AM'],
       ['8:35 AM'],
       ['8:30 AM'],
       ['8:15 AM'],
       ['9:00 AM'],
       ['8:35 AM'],
       ['9:00 AM'],
       ['8:58 AM'],
       ['8:20 AM'],
       ['8:45 AM'],
       ['8:35 AM'],
       ['8:27 AM'],
       ['8:46 AM'],
       ['8:31 AM'],
       ['8:37 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['9:00 AM'],
       ['8:57 AM'],
       ['8:57 AM'],
       ['8:50 AM'],
       ['8:45 AM'],
       ['8:50 AM'],
       ['8:30 AM'],
       ['8:45 AM'],
       ['8:50 AM'],
       ['8:10 AM']], dtype=object)

In [81]:
agg_data = pd.DataFrame(times)
agg_data.columns=['arrival_time']
agg_data.head()

  arrival_time
0      8:56 AM
1      9:00 AM
2      7:45 AM
3      7:45 AM
4      8:05 AM

In [86]:
pd.to_datetime(agg_data['arrival_time'], errors='raise',format='%I:%M %p')

ValueError: time data 'absent' does not match format '%I:%M %p' (match)

In [ ]:
#had to stop for time, but close to removing the errors... i can do the same thing after removing "absent"