In [2]:
import pandas as pd 
import matplotlib as plt

In [3]:
att_df = pd.read_csv('data.csv', header=[-1])
att_df.head()

         0        1        2        3        4        5
0  8:56 AM  9:00 AM  7:45 AM  7:45 AM  8:05 AM  7:45 AM
1  8:40 AM  8:40 AM  8:30 AM  8:30 AM  8:45 AM  8:20 AM
2  8:45 AM  8:20 AM  8:05 AM  8:00 AM  8:05 AM  8:00 AM
3  8:40 AM  8:40 AM  8:40 AM  8:25 AM  8:40 AM  8:40 AM
4  8:55 AM  8:50 AM  8:55 AM  8:10 AM  8:15 AM  8:05 AM

In [4]:
att_df.shape

(23, 6)

In [5]:
import time 
#not sure i'll need this, but fun to import it anyway

In [6]:
import numpy as np

In [7]:
times = np.array(att_df)
times

array([['8:56 AM', '9:00 AM', '7:45 AM', '7:45 AM', '8:05 AM', '7:45 AM'],
       ['8:40 AM', '8:40 AM', '8:30 AM', '8:30 AM', '8:45 AM', '8:20 AM'],
       ['8:45 AM', '8:20 AM', '8:05 AM', '8:00 AM', '8:05 AM', '8:00 AM'],
       ['8:40 AM', '8:40 AM', '8:40 AM', '8:25 AM', '8:40 AM', '8:40 AM'],
       ['8:55 AM', '8:50 AM', '8:55 AM', '8:10 AM', '8:15 AM', '8:05 AM'],
       ['8:45 AM', '8:45 AM', '8:45 AM', '8:40 AM', '8:30 AM', '8:40 AM'],
       ['8:45 AM', '8:54 AM', '8:38 AM', '8:40 AM', '8:32 AM', '8:41 AM'],
       ['absent', '11:00 AM', '8:35 AM', '8:15 AM', '8:10 AM', '8:10 AM'],
       ['8:39 AM', '8:13 AM', '8:15 AM', '8:12 AM', '8:10 AM', '8:00 AM'],
       ['9:00 AM', '8:50 AM', '8:50 AM', '8:50 AM', '8:40 AM', '8:45 AM'],
       ['8:40 AM', '8:50 AM', '8:40 AM', '8:34 AM', '8:20 AM', '8:30 AM'],
       ['8:15 AM', '8:30 AM', '8:13 AM', '8:30 AM', '7:45 AM', '8:40 AM'],
       ['8:45 AM', '8:55 AM', '8:45 AM', '8:45 AM', '8:00 AM', '8:45 AM'],
       ['8:45 AM', '8:45 AM', '8:05 AM', '8:00 AM', '8:00 AM', '8:00 AM'],
       ['8:45 AM', '8:45 AM', '9:00 AM', '9:00 AM', '8:50 AM', '9:00 AM'],
       ['8:15 AM', '8:40 AM', '8:25 AM', '8:30 AM', '7:30 AM', '8:25 AM'],
       ['8:45 AM', '8:40 AM', '8:45 AM', '8:55 AM', '8:45 AM', '8:45 AM'],
       ['8:45 AM', '9:00 AM', '9:00 AM', '9:00 AM', '9:00 AM', '9:00 AM'],
       ['8:50 AM', '8:50 AM', '8:57 AM', '8:42 AM', '8:35 AM', '8:30 AM'],
       ['8:15 AM', '9:00 AM', '8:35 AM', '9:00 AM', '8:58 AM', '8:20 AM'],
       ['8:45 AM', '8:35 AM', '8:27 AM', '8:46 AM', '8:31 AM', '8:37 AM'],
       ['8:45 AM', '8:45 AM', '9:00 AM', '8:57 AM', '8:57 AM', '8:50 AM'],
       ['8:45 AM', '8:50 AM', '8:30 AM', '8:45 AM', '8:50 AM', '8:10 AM']],
      dtype=object)

In [8]:
times = times.reshape(23*6,1)
times

array([['8:56 AM'],
       ['9:00 AM'],
       ['7:45 AM'],
       ['7:45 AM'],
       ['8:05 AM'],
       ['7:45 AM'],
       ['8:40 AM'],
       ['8:40 AM'],
       ['8:30 AM'],
       ['8:30 AM'],
       ['8:45 AM'],
       ['8:20 AM'],
       ['8:45 AM'],
       ['8:20 AM'],
       ['8:05 AM'],
       ['8:00 AM'],
       ['8:05 AM'],
       ['8:00 AM'],
       ['8:40 AM'],
       ['8:40 AM'],
       ['8:40 AM'],
       ['8:25 AM'],
       ['8:40 AM'],
       ['8:40 AM'],
       ['8:55 AM'],
       ['8:50 AM'],
       ['8:55 AM'],
       ['8:10 AM'],
       ['8:15 AM'],
       ['8:05 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:40 AM'],
       ['8:30 AM'],
       ['8:40 AM'],
       ['8:45 AM'],
       ['8:54 AM'],
       ['8:38 AM'],
       ['8:40 AM'],
       ['8:32 AM'],
       ['8:41 AM'],
       ['absent'],
       ['11:00 AM'],
       ['8:35 AM'],
       ['8:15 AM'],
       ['8:10 AM'],
       ['8:10 AM'],
       ['8:39 AM'],
       ['8:13 AM'],
       ['8:15 AM'],
       ['8:12 AM'],
       ['8:10 AM'],
       ['8:00 AM'],
       ['9:00 AM'],
       ['8:50 AM'],
       ['8:50 AM'],
       ['8:50 AM'],
       ['8:40 AM'],
       ['8:45 AM'],
       ['8:40 AM'],
       ['8:50 AM'],
       ['8:40 AM'],
       ['8:34 AM'],
       ['8:20 AM'],
       ['8:30 AM'],
       ['8:15 AM'],
       ['8:30 AM'],
       ['8:13 AM'],
       ['8:30 AM'],
       ['7:45 AM'],
       ['8:40 AM'],
       ['8:45 AM'],
       ['8:55 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:00 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:05 AM'],
       ['8:00 AM'],
       ['8:00 AM'],
       ['8:00 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['8:50 AM'],
       ['9:00 AM'],
       ['8:15 AM'],
       ['8:40 AM'],
       ['8:25 AM'],
       ['8:30 AM'],
       ['7:30 AM'],
       ['8:25 AM'],
       ['8:45 AM'],
       ['8:40 AM'],
       ['8:45 AM'],
       ['8:55 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['9:00 AM'],
       ['8:50 AM'],
       ['8:50 AM'],
       ['8:57 AM'],
       ['8:42 AM'],
       ['8:35 AM'],
       ['8:30 AM'],
       ['8:15 AM'],
       ['9:00 AM'],
       ['8:35 AM'],
       ['9:00 AM'],
       ['8:58 AM'],
       ['8:20 AM'],
       ['8:45 AM'],
       ['8:35 AM'],
       ['8:27 AM'],
       ['8:46 AM'],
       ['8:31 AM'],
       ['8:37 AM'],
       ['8:45 AM'],
       ['8:45 AM'],
       ['9:00 AM'],
       ['8:57 AM'],
       ['8:57 AM'],
       ['8:50 AM'],
       ['8:45 AM'],
       ['8:50 AM'],
       ['8:30 AM'],
       ['8:45 AM'],
       ['8:50 AM'],
       ['8:10 AM']], dtype=object)

In [9]:
agg_data = pd.DataFrame(times)
agg_data.columns=['arrival_time']
agg_data.head()

  arrival_time
0      8:56 AM
1      9:00 AM
2      7:45 AM
3      7:45 AM
4      8:05 AM

In [22]:
att_astimes_df = pd.to_datetime(agg_data['arrival_time'], errors='coerce',format='%I:%M %p')
pd.DataFrame(att_astimes_df)

           arrival_time
0   1900-01-01 08:56:00
1   1900-01-01 09:00:00
2   1900-01-01 07:45:00
3   1900-01-01 07:45:00
4   1900-01-01 08:05:00
5   1900-01-01 07:45:00
6   1900-01-01 08:40:00
7   1900-01-01 08:40:00
8   1900-01-01 08:30:00
9   1900-01-01 08:30:00
10  1900-01-01 08:45:00
11  1900-01-01 08:20:00
12  1900-01-01 08:45:00
13  1900-01-01 08:20:00
14  1900-01-01 08:05:00
15  1900-01-01 08:00:00
16  1900-01-01 08:05:00
17  1900-01-01 08:00:00
18  1900-01-01 08:40:00
19  1900-01-01 08:40:00
20  1900-01-01 08:40:00
21  1900-01-01 08:25:00
22  1900-01-01 08:40:00
23  1900-01-01 08:40:00
24  1900-01-01 08:55:00
25  1900-01-01 08:50:00
26  1900-01-01 08:55:00
27  1900-01-01 08:10:00
28  1900-01-01 08:15:00
29  1900-01-01 08:05:00
..                  ...
108 1900-01-01 08:50:00
109 1900-01-01 08:50:00
110 1900-01-01 08:57:00
111 1900-01-01 08:42:00
112 1900-01-01 08:35:00
113 1900-01-01 08:30:00
114 1900-01-01 08:15:00
115 1900-01-01 09:00:00
116 1900-01-01 08:35:00
117 1900-01-01 09:00:00
118 1900-01-01 08:58:00
119 1900-01-01 08:20:00
120 1900-01-01 08:45:00
121 1900-01-01 08:35:00
122 1900-01-01 08:27:00
123 1900-01-01 08:46:00
124 1900-01-01 08:31:00
125 1900-01-01 08:37:00
126 1900-01-01 08:45:00
127 1900-01-01 08:45:00
128 1900-01-01 09:00:00
129 1900-01-01 08:57:00
130 1900-01-01 08:57:00
131 1900-01-01 08:50:00
132 1900-01-01 08:45:00
133 1900-01-01 08:50:00
134 1900-01-01 08:30:00
135 1900-01-01 08:45:00
136 1900-01-01 08:50:00
137 1900-01-01 08:10:00

[138 rows x 1 columns]

In [35]:
att_astimes_df = pd.Timestamp.timestamp(times)
att_astimes_df.head()

TypeError: descriptor 'timestamp' requires a 'pandas._libs.tslibs.timestamps._Timestamp' object but received a 'numpy.ndarray'

In [15]:
#had to stop due to time

138